#kill{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.pq{
    color: green;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid red;
}

.newclass{
    color: blue;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid orange;
}