*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #081b31;
    padding: 10px ;
    line-height: 5rem;
}

.choice{
    height: 175px;
    width: 175px;
     border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #090f16;
    cursor: pointer;
}
img{
   height: 150px;
   width: 150px; 
   object-fit: cover;
   border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 80px;
} 

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#msg{
    margin-top: 50px;
    font-size: 1.5rem;
    background-color: #081b31;
    color: #ffffff;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container{
    margin-top: 5rem;
}

